spring:
  application.name: spring-ai
  ai:
    openai:
      api-key: {GROQ_TOKEN}
      base-url: https://api.groq.com/openai
      chat:
        options:
          model: llama-3.3-70b-versatile
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true